<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <i class="{{question.icon}} icon"></i>
        </div>
        <mat-card-title>
            <h2>{{question.title}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <small>Rangel Castro - {{question.createdAt | amLocale: 'es' | amTimeAgo }}</small>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{question.description}}</p>
    </mat-card-content>
</mat-card>
<div class="answers">
    <h3>Respuestas</h3>
    <ul class="answers-list" *ngIf="question.answers.length > 0">
        <li>
            <h5>Paula Becerra <small>Hace unos segundos</small></h5>
            <p class="description">
                1 Yo tengo la respuesta!
            </p>
        </li>
        <li>
            <h5>Paula Becerra <small>Hace unos segundos</small></h5>
            <p class="description">
                2 Yo tengo la respuesta!
            </p>
        </li>
        <li>
            <h5>Paula Becerra <small>Hace unos segundos</small></h5>
            <p class="description">
                3 Yo tengo la respuesta!
            </p>
        </li>
        <li>
            <h5>Paula Becerra <small>Hace unos segundos</small></h5>
            <p class="description">
                4 Yo tengo la respuesta!
            </p>
        </li>
        <li>
            <h5>Paula Becerra <small>Hace unos segundos</small></h5>
            <p class="description">
                5 Yo tengo la respuesta!
            </p>
        </li>
        <li>
            <h5>Paula Becerra <small>Hace unos segundos</small></h5>
            <p class="description">
                6 Yo tengo la respuesta! La ultima
            </p>
        </li>
    </ul>
    <p *ngIf="question.answers.length == 0">Se el primero en responder la pregunta</p>
    <app-answer-form class="answer-form"></app-answer-form>
</div>