<mat-card>
    <mat-card-header>
        <div mat-card-avatar>
            <i class="{{question.icon}} icon"></i>
        </div>
        <mat-card-title>
            <h2>{{question.title}}</h2>
        </mat-card-title>
        <mat-card-subtitle>
            <small>Rangel Castro - {{question.createdAt | amLocale: 'es' | amTimeAgo }}</small>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{question.description}}</p>
    </mat-card-content>
</mat-card>
<div class="answers">
    <h3>Respuestas</h3>
    <ul class="answers-list">
        <li>
            <h5>Paula Becerra <small>Hace unos segundos</small></h5>
            <p class="description">
                Yo tengo la respuesta!
            </p>
        </li>
        <li>
            <h5>Paula Becerra <small>Hace unos segundos</small></h5>
            <p class="description">
                Yo tengo la respuesta!
            </p>
        </li>
        <li>
            <h5>Paula Becerra <small>Hace unos segundos</small></h5>
            <p class="description">
                Yo tengo la respuesta!
            </p>
        </li>
    </ul>
</div>